body{
    padding-top: 50px;
    font-family: Poppins;
    background: #000019;
}

.bg-theme{
    /*background: #0F2027;  /* fallback for old browsers */
    /*background: -webkit-linear-gradient(to top, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to top, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 0 0 8px rgba(135,206,250,0.6);
    color: dodgerblue;
    background: black;
}

.close, .close:hover{
    color: white;
}

.modal{
    backdrop-filter: blur(1em);
}

.modal-body{
    background: #00002d;
}

.border-theme{
    border: #1e90ff solid 5px;
    border-radius: 0;
    background: #00002d;
}

.rupee, #user_name{
    color: white;
}

hr{
    background: #1e90ff;
}

.table, .graph-div{
    background: #00004b;
    color: white;

}

thead{
    background: dodgerblue;
    color: white;
}

td{
    font-weight: 500;
}


.card-body{
    border-radius: 0;
    overflow: hidden;
}

.btn{
    font-weight: 500;
}

.btn-sq {
    width: 80px !important;
    height: 70px !important;
}

#time-period{
    height:50px;
    color: #1e90ff;
    font-size: larger;
    font-weight: bolder;
    border-radius: 2em;
    border: 3px solid #1e90ff;
    background: transparent;
    padding-left: 10px;
    text-align: center;
    outline: none;
}


.custom-button{
    width: 100%;
    background: transparent;
    color: dodgerblue;
    border: none;
    outline: none;
}

.custom-button:hover{
    color: dodgerblue;
    background: #00005a;
}

a:hover{
    color: white;
    text-decoration: none;
}

label{
    font-weight: bold;
    font-size: large;
}

.form-control, .form-control:focus{
    border: 1px solid dodgerblue;
    background: transparent;
    color: white;
}

option{
    background: #00002d;
}

.modal-footer, .modal-header{
    color: white;
    background: #00002d;
}

.btn-default{
    background: dodgerblue;
    color: white;
}

.ext{
    color: deepskyblue;
}


.switch {
    position: relative;
    width: 65px;
    height: 35px;
    margin: 0px;
    appearance: none;
    -webkit-appearance: none;
    background-image: url("../img/day.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2em;
    box-shadow: inset 0px 0px 2px rgba(255,255,255,.7);
    transition: background-image .7s ease-in-out;
    outline: none;
    cursor: pointer;
    overflow: hidden;
}

.switch:checked{
    background-image: url("../img/night.jpg");
    background-size: cover;
    transition: background-image 1s ease-in-out;
}


.switch:after{
    content: '';
    width: 32px;
    height:32px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    left: 1px;
    top: 1px;
    transform: translateX(0px);
    animation: off .7s forwards cubic-bezier(.8, .5, .2, 1.4);
    box-shadow: inset 5px -5px 4px rgba(53, 53, 53, 0.3);
    opacity: 50%;

}

@keyframes off{
    0%{
        transform: translateX(30px);
        width: 32px;
    }
    50%{
        width: 45px;
        border-radius: 2em;
    }
    100%{
        transform: translateX(0px);
        width: 32px;
    }
}



.switch:checked:after{
    opacity: 50%;
    animation: on .7s forwards cubic-bezier(.8, .5, .2, 1.4);
    box-shadow: inset -5px -5px 4px rgba(53, 53, 53, 0.3);
}

@keyframes on{
    0%{
        transform: translateX(0px);
        width: 32px;
    }
    50%{
        width: 45px;
        border-radius: 2em;
    }
    100%{
        transform: translateX(30px);
        width: 32px;
    }
}


.switch:checked:before{
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    left: 30px;
    top: 5px;
    transform-origin: 0px 5px;
    background-color: transparent;
    box-shadow: 5px -1px 0px #fff;
    filter: blur(0px);
    animation: moon .7s forwards ease;
}
@keyframes sun{
    0%{
        transform: rotate(200deg);
        background-color: transparent;
        box-shadow: 5px -1px 0px #fff;
        filter: blur(0px);
    }
    50%{
        background-color: transparent;
        box-shadow: 5px -1px 0px #fff;
        filter: blur(0px);
    }
    90%{
        background-color: #f5daaa;
        box-shadow: 0px 0px 10px #f5deb4,
        0px 0px 20px #f5deb4,
        0px 0px 30px #f5deb4,
        inset 0px 0px 2px #efd3a3;
        /*filter: blur(1px);*/
    }
    100%{
        transform: rotate(0deg);
        background-color: #f5daaa;
        box-shadow: 0px 0px 10px #f5deb4,
        0px 0px 20px #f5deb4,
        0px 0px 30px #f5deb4,
        inset 0px 0px 2px #efd3a3;
        /*filter: blur(1px);*/
    }
}



.switch:before{
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    left: 45px;
    top: 5px;
    filter: blur(1px);
    background-color: #f5daaa;
    box-shadow: 0px 0px 10px #f5deb4,
    0px 0px 20px #f5deb4,
    0px 0px 30px #f5deb4,
    inset 0px 0px 2px #efd3a3;
    transform-origin: 30px 5px;
    animation: sun .7s forwards ease;
}
@keyframes moon{
    0%{
        transform: rotate(0deg);
        filter: blur(1px);
    }
    50%{
        filter: blur(1px);
    }
    90%{
        background-color: transparent;
        box-shadow: 5px -1px 0px #fff;
        filter: blur(0px);

    }
    100%{
        transform: rotate(-200deg);
        background-color: transparent;
        box-shadow: 6px -1px 0px #fff;
        filter: blur(0px);
    }
}


